.dropdown {
    position: relative;
    color:  red;
    border-radius:  5px;
    border: 0;
    display: inline-block;
    font-size:  0.95em;
    z-index: 1;
}

.dropdown *[class=dropdown-menu] {
    z-index: 1;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height:0;
    max-height: 215px;
    margin: 0;
    padding: 2px 0 0 0;
    border: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: none;
    display: inline-block;
    vertical-align: top;
    color: #252525;
    position: absolute;
    left: 0;
    top: 0;
    font-family: var(--Font-normal);
    transform: translate(0, -2px)!important;
    -webkit-transition: transform 0.4s cubic-bezier(0.42, 0, 0, 1.4);
}

.dropdown *[class=dropdown-menu] li{
    cursor: pointer;
    opacity: 0.75;
    padding: 8px 0px 8px 10px;
    transition: all 0.2s ease;
}

.dropdown *[class=dropdown-menu] li:hover{
    background: #EEE;
    opacity: 1;
}

.dropdown[class*=open]{
   z-index: 99;
   background: #FFF;
   color: #252525;
   border-radius: 5px 5px 0 0;
}

.dropdown[class*=open] *[class=dropdown-menu]{
     background: #FFF;
     height: auto;
     opacity: 1;
     transform: translate(0, 29px)!important;
 }

.dropdown div[class=dropdown-toggle]{
     align-items: center;
     background: var(--Input-bg-color);
     border-radius: 5px;
     box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.85);
     color: #FFF;
     cursor: pointer;
     display: flex;
     font-family: var(--Font-title);
     font-size: 16px;
     font-weight: normal;
     justify-content: space-between;
     line-height: 0.70em;
     padding: 8px 10px;
     position: relative;
     text-align: center;
     width: auto;
     z-index: 99;
 }

.dropdown div[class=dropdown-toggle] span{
    display: inline-block;
    font-size: 0.9em;
    line-height: 0.75em;
    margin: 0;
    min-width: 150px;
    padding: 0;
    text-align: left;
    text-transform: capitalize;
}

.dropdown div[class=dropdown-toggle] i {
    font-size: 1em;
    margin:0!important;
    margin-left: 10px;
    opacity: 0.65;
}

.dropdown div[class=dropdown-toggle] i:after {
    content: "arrow_drop_down";
}

.dropdown div[class=dropdown-toggle][aria-expanded=true]{
    background: transparent;
    box-shadow: none;
    color: #252525;
}

.dropdown div[class=dropdown-toggle][aria-expanded=true] i:after {
    color: rgba(0, 0, 0, 0.65);
    content: "arrow_drop_up";
}
