// Base class
.dropdown
    border: 0
    border-radius: var(--Dropdown-radius)
    color:  red
    display: inline-block
    font-size:  0.95em
    position: relative
    z-index: 1

    div[class=dropdown-menu]
        border: 0
        border-radius: 0 0 var(--Dropdown-radius) var(--Dropdown-radius)
        box-shadow: none
        color: #252525
        display: inline-block
        font-family: var(--Font-normal)
        height:0
        left: 0
        margin: 0
        max-height: 215px
        opacity: 0
        padding: 5px 0 0 0
        position: absolute
        scrollable()
        top: 0
        transform: translate(0, -2px)!important
        transition: transform 0.4s cubic-bezier(0.42, 0, 0, 1.4)
        vertical-align: top
        width: 100%
        z-index: 0

        &::-webkit-scrollbar-track
            background-color: transparent
            margin: 0

    div[class=dropdown-toggle]
        align-items: center
        background: var(--Input-bg)
        border-radius: var(--Dropdown-radius)
        box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.85)
        color: var(--Dropdown-color)
        cursor: pointer
        display: flex
        font-family: var(--Font-title)
        font-size: 16px
        font-weight: normal
        justify-content: space-between
        line-height: 0.70em
        padding: 8px 10px
        position: relative
        text-align: center
        width: auto
        z-index: 99
        span
            display: inline-block
            font-size: 0.9em
            line-height: 0.75em
            margin: 0
            min-width: 150px
            padding: 0
            padding-left: 5px
            text-align: left
            text-transform: capitalize
        i
            font-size: 1em
            margin:0!important
            margin-left: 10px
            opacity: 0.65
            &::after
                content: "arrow_drop_down"

    &[class*=open]
        background: var(--Dropdown-open-bg)
        border-radius: var(--Dropdown-radius) var(--Dropdown-radius) 0 0
        color: var(--Dropdown-open-color)
        z-index: 99

        div[class=dropdown-toggle]
            background: transparent
            box-shadow: none
            color: var(--Dropdown-open-color)
            i::after
                color: var(--Dropdown-open-color)
                opacity: 0.5
                content: "arrow_drop_up"

        div[class=dropdown-menu]
            background: var(--Dropdown-open-bg)
            height: auto
            opacity: 1
            transform: translate(0, 29px)!important

// Item
.item
    background-clip: border-box
    border-radius: 3px
    cursor: pointer
    opacity: 0.75
    padding: 8px 0 8px 10px
    margin: 0 5px
    transition: all 0.2s ease
    &:hover
        background-color: #EEE
        opacity: 0.99

.action
    composes: item

.label
    background-color: #EEE
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.18)
    border-radius: 50px
    display: inline-block
    height: 15px
    margin:  0 15px 0 5px
    vertical-align: middle
    width: 15px

// Types
.dropdown-text,
.dropdown-color
    composes: dropdown

// Color
.dropdown-color
    div[class=dropdown-toggle]
        span
            min-width: 115px

    .items
        padding: 0 8px;
        .item
            background-color: #EEE
            box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25)
            border-radius: 5px
            cursor: pointer
            display: inline-block
            height: 25px
            margin: 10px 5px
            padding: 0
            opacity: 1
            width: 25px
