.row
    color: #FFF
    margin: 0
    display: block
    margin: 0 20px
    border-bottom 1px solid rgba(225,225,225,0.15)
    padding 35px 20px
    transition: all 0.3s ease
    transition-property: background, transform, opacity;
    &.advanced
        overflow: hidden
        padding: 0
        opacity: 0
        height: 0
        transform: scale(0.75)
    &:last-child
        margin-bottom: 50px
    &:hover
        background: rgba(200,200,200, 0.15)
    .text, i, .action-item
        display: inline-block
        vertical-align: middle
    .text
        font-family: var(--Font-normal)
        font-size: 16px
        font-weight: bold
        line-height: 1em
        max-width: 52%
    .helper
        margin-top: 2px
        font-weight: normal
        opacity: 0.4
        font-size 12px
    i
        font-size: 24px
        margin: 0 20px
        color: #FFF
        display: inline-block
        width: 24px

    .action
        color: #000
        float right
        padding-top 5px
        select
        width 130px
        margin-right 15
