.button
  background-color: var(--Button-bg)
  border-radius: var(--Button-radius)
  color: var(--Button-color)
  cursor: pointer
  font-family: var(--Font-title)
  font-size: 14px
  font-weight: bold
  margin: 0
  padding: 6px 12px
  text-align: center
  text-transform: uppercase
  transition: background-color 0.25s

  &:hover
    background: var(--Button-hover)
    text-decoration: none

  &:active
    background: var(--Button-active)
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.6)

  span, i
    display: inline-block
    vertical-align: middle

  i[class=material-icons]
    font-size: 18px
    width: 18px
    padding: 0
    margin: 0 0 0 10px



    &[class*=spin]
      animation: spin 2s linear infinite;

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

.normal
    composes: button
    background: var(--Button-bg)


.secondary
    composes: button
    background-color: rgba(200,200,200,0.25)
    margin: 5px
