.button
  border-radius: $ButtonRadius
  background-clip: padding-box
  background-color: $ButtonBg
  transition: background-color 0.5s
  font-size: 1em
  color: $ButtonText
  font-family: $TitleFont
  font-smoothing: antialiased
  text-align: center
  text-transform: uppercase
  display: inline-block
  padding: 5px 10px
  margin: 5px
  cursor: pointer

  &:hover
    background: $ButtonBgHover
    text-decoration: none

  &:active
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.6)
    background: $ButtonBgActive



    span, i
        display: inline-block
        vertical-align: middle
    i
        margin-left: 10px

.normal
    composes: button

.secondary
    composes: button
    background-color: rgba(200,200,200,0.25)
