.button
    font-family: $TitleFont
    background: $MainColor
    color: $Pure_White
    text-transform: uppercase
    display: inline-block
    padding: 5px 10px
    border-radius: 4px
    cursor: pointer
    margin: 5px
    font-size: 1em

    span, i
        display: inline-block
        vertical-align: middle
    i
        margin-left: 10px

.normal
    composes: button

.secondary
    composes: button
    background-color: rgba(200,200,200,0.25)
