[class=tabs-navigation]
    margin 0 auto
    font-size: 0.9em
    border-bottom: none 0
    display: block
    
    padding-top 0px
    box-shadow: none
    text-align center
    background: var(--Window-bg)
    display: flex
    align-items: center
    justify-content: center
    position: fixed
    z-index: 99

    left: 0
    right: 0
    li
        display inline-block
        box-sizing: content-box
        padding: 0
        border-bottom: 3px solid transparent
        opacity: 0.4
        margin: 0 10px
        cursor: pointer
        a
          color #FFF !important
          color: $FilterBarText
          text-align: center
          vertical-align: middle
          font-family: var(--Font-title)
          font-weight: bold
          font-size: 1.35em
          padding: 15px 0
          cursor: pointer
          display: block
          text-decoration: none
          text-transform: uppercase

        &:hover
            opacity: 0.9
            border-bottom: 3px solid rgba(255,255,255,0.2)

        &[class~=is-active]
            border-bottom: 3px solid var(--Main-color)
            opacity: 1

.buttons-content
    margin: 25px auto
    text-align: center

.tabs-content
    scrollable()
    display: block
    width: 100%
    position: absolute
    top: 45px
    bottom: 0

    & [class="role-panel"]
        display: none
        max-width: 980px
        margin: auto

        &[class*=active]
            display: block

.tab-section
    display block
    .content
        max-width: 780px
        margin: 0 auto
    .title
        font-family: var(--Font-title)
        color: #FFF
        font-weight: 900
        padding: 20px
        text-align: center
        opacity: .4
