.navbar
    background-color: var(--Navbar-bg)
    box-shadow: var(--Navbar-shadow)
    height: (--Navbar-height)
    line-height: (--Navbar-height)
    padding: 0 40px
    user-select: none
    width: auto
    z-index: 10

    & *
        vertical-align: middle

[class=tabs-navigation]
    margin 0 auto
    font-size: 0.9em
    display: block
    padding: 0px
    box-shadow: var(--Tabs-shadow)
    text-align center
    background: var(--Navbar-bg) //var(--Tabs-bg)
    display: flex
    align-items: center
    justify-content: center
    z-index: 99

    li
        display: inline-block
        padding: 0
        margin: 0 10px

        a
          border-bottom: var(--Tab-border-size)  solid transparent
          color: inherit
          text-align: center
          vertical-align: middle
          font-family: var(--Font-title)
          font-weight: bold
          font-size: 18px
          height: 18px
          line-height: 18px
          padding: var(--Tab-padding) 0
          margin: 0
          cursor: pointer
          display: block
          opacity: 0.4
          text-decoration: none
          text-transform: uppercase

          &:hover
            opacity: 1
            border-bottom: var(--Tab-border-size) solid rgba(255,255,255,0.2)

        &[class~=is-active]
            a
                border-bottom: 3px solid var(--Main-color)
                opacity: 1

[class=tab-panel]
    margin: auto
    padding-top: var(--Tabs-height)
    max-width: 980px

.buttons-content
    margin: 25px auto
    max-width: 980px
    display: flex;
    justify-content: center;
    align-items: center
    flex-flow: row wrap;

.tabs-content
    display: block

.tab-section
    display block

.content
    max-width: 780px
    margin: 0 auto

.title
    font-weight: 900
    padding: 20px
    text-align: center
    opacity: .4
