.tabs
    margin 0 auto
    font-size: 0.9em
    border-bottom: none 0
    display: block
    padding-top 0px
    box-shadow: none
    text-align center


    li
        display inline-block
        color #FFF !important
        box-sizing: content-box
        color: $FilterBarText
        text-align: center
        cursor: pointer
        vertical-align: middle
        padding-bottom: 15px
        font-family: var(--Font-title)
        font-weight: bold
        font-size: 1.35em
        text-transform: uppercase
        border-bottom: 3px solid transparent
        opacity: 0.4
        margin: 0 10px
        &:hover
            opacity: 0.9
            border-bottom: 3px solid rgba(255,255,255,0.2)
        &[class*=active],
        &[aria-expanded*="true"]
            border-bottom: 3px solid var(--Main-color)
            opacity: 1

.buttons-content
    margin: 25px auto
    text-align: center

.tabs-content
    scrollable()
    display: block
    width: 100%
    position: absolute
    top: 98px
    bottom: 0

    & [role="tab-panel"]
        display: none
        max-width: 980px
        margin: auto

        .title
            font-family: var(--Font-title)
            color: #FFF
            font-weight: 900
            padding: 20px
            text-align: center
            opacity: .4

        section
            display block
            .content
                max-width: 780px
                margin: 0 auto

        &[class*=active]
            display: block
