.switch
    display: inline-block
    height: 20px
    position: relative
    width: 36px

    .slider
        background-color: rgba(250,250,250, 0.25)
        border-radius: 34px
        bottom: 0
        cursor: pointer
        left: 0
        position: absolute
        right: 0
        top: 0
        transition: .3s

        &:before
            background-color: white
            border-radius: 50%
            bottom: 2px
            content: ""
            height: 16px
            left: 2px
            position: absolute
            transition: .3s
            width: 16px

    input
        display:none

        &:checked + .slider
            background-color: var(--Switch-active)

        &:focus + .slider
            box-shadow: 0 0 1px rgba(0,0,0,0.5)

        &:checked + .slider:before
            transform: translateX(16px)
