.alert
    padding: 10px 25px
    border-radius: 30px
    z-index: 999
    position fixed
    bottom 25px
    right 50px
    display: none

    span, i
        font-size 1em
        display inline-block
        vertical-align: middle
    i
        margin-left: 10px

.success
    composes: alert
    background: #33AA65
