.modal
    height: 100vh
    overflow: hidden
    width: 100vw
    margin: auto
    position: absolute
    top:0
    left:0
    z-index: 999

    &[class*=fade-enter]
        .widget
            transform: translate(0, 100vh)
            opacity:0

    &[class*=fade-enter-active]
        .widget
            transform: translate(0, 0px)
            opacity:1

    &[class*=fade-leave]
        .widget
            transform: translate(0, 0px)
            opacity:1

    &[class*=fade-leave-active]
        .widget
            transform: translate(0, 100vh)
            opacity:0


    .widget
        position: absolute
        z-index:999
        background: #FFF
        padding: 25px
        display: block
        margin: auto
        border-radius: 5px;
        max-width: 480px
        max-height: 320px
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        text-align: center
        transform: translate(0, 0px);
        transition: all 0.3s ease

        /* Remove this */
        img
            margin: auto
            height:250px;
            border: 1px #ccc;
            border-radius: 5px;

    &[data-position=top]
        .widget
            top: 40px

    &[data-position=right]
        .widget
            right: 40px

    &[data-position=left]
        .widget
            left: 40px

    &[data-position=bottom]
        .widget
            bottom: 40px

    &[data-position=center]
        .widget
            top: 40px
            left: 0
            right: 0
            bottom: 40px

.overlay
    position: absolute
    background: var(--Bg-color, #17181b)
    opacity: 0.85
    height: 100%
    width: 100%
    z-index: 0
    display: block
    opacity: 0.75
    transition: all 0.2s ease
