.modal
    overflow: hidden
    overlay(fixed)
    z-index: 999

    &[class*=popup-enter]
        .overlay
            opacity 0
        .widget
            transform: translate(0, 100vh)
            opacity:0


    &[class*=popup-enter-active]
        .overlay
            opacity: var(--Overlay-alpha)
        .widget
            transform: translate(0, 0px)
            opacity:1

    &[class*=popup-leave]
        .overlay
            opacity: var(--Overlay-alpha)
        .widget
            transform: translate(0, 0px)
            opacity:1
            transition: all 0.2s ease

    &[class*=popup-leave-active]
        .overlay
            opacity: 0
        .widget
            transform: translate(0, 50vh)
            opacity:0


    .widget
        background: var(--Modal-bg)
        border-radius: var(--Modal-radius)
        box-shadow:  var(--Modal-shadow)
        color: var(--Modal-color)
        padding: 25px
        display: block
        margin: auto
        max-width: 480px
        max-height: 320px
        position: absolute
        text-align: center
        transform: translate(0, 0px);
        transition: all 0.3s ease
        transition-delay: 0.2s;
        z-index:999

        //Flex-box
        display: flex
        align-items: center
        justify-content: center


        /* Remove this */
        img
            margin: auto
            height:250px;
            border: 1px #ccc;
            border-radius: 5px;

    &[data-position=top]
        .widget
            top: 40px

    &[data-position=right]
        .widget
            right: 40px

    &[data-position=left]
        .widget
            left: 40px

    &[data-position=bottom]
        .widget
            bottom: 40px

    &[data-position=center]
        .widget
            top: 40px
            left: 0
            right: 0
            bottom: 40px

    .overlay
        overlay(fixed)
        background: var(--Overlay-bg)
        opacity: var(--Overlay-alpha)
        display: block
        z-index: 0
        transition: opacity 0.2s ease
