.modal
    overflow: hidden
    overlay(fixed)
    z-index: 999

    &[class*=popup-enter]
        .widget
            transform: translate(0, 100vh)
            opacity:0

    &[class*=popup-enter-active]
        .widget
            transform: translate(0, 0px)
            opacity:1

    &[class*=popup-leave]
        .widget
            transform: translate(0, 0px)
            opacity:1

    &[class*=popup-leave-active]
        .widget
            transform: translate(0, 100vh)
            opacity:0


    .widget
        background: var(--Modal-bg)
        border-radius: var(--Modal-radius)
        box-shadow:  var(--Modal-shadow)
        color: var(--Modal-color)
        padding: 25px
        display: block
        margin: auto
        max-width: 480px
        max-height: 320px
        position: absolute
        text-align: center
        transform: translate(0, 0px);
        transition: all 0.3s ease
        z-index:999

        /* Remove this */
        img
            margin: auto
            height:250px;
            border: 1px #ccc;
            border-radius: 5px;

    &[data-position=top]
        .widget
            top: 40px

    &[data-position=right]
        .widget
            right: 40px

    &[data-position=left]
        .widget
            left: 40px

    &[data-position=bottom]
        .widget
            bottom: 40px

    &[data-position=center]
        .widget
            top: 40px
            left: 0
            right: 0
            bottom: 40px

.overlay
    overlay(absolute)
    background: var(--Overlay-bg)
    opacity: var(--Overlay-alpha)
    display: block
    transition: all 0.2s ease
    z-index: 0
