.go-back
    display: inline-block
    font-size: 22px
    cursor pointer

    &:hover
        color: inherit

    span, i
        margin: 0 5px
        display: inline-block
        vertical-align: middle
    span
        text-transform: uppercase
        font-weight: bold
