.go-back
    color: #FFF
    display: inline-block
    font-size: 22px

    span, i
        margin: 0 5px
        display: inline-block
        vertical-align: middle
    span
        text-transform: uppercase
        font-family: var(--Font-title)
