.window
    background-color: var(--Window-bg)
    bottom: 0
    color: var(--Font-color)
    font-family: var(--Font-family)
    margin: auto
    position: absolute
    left: 0
    right: 0
    top: 0

    .container
        overlay(absolute)
        scrollable()
        top: 45px
