.window
    background-color: var(--Window-bg)
    bottom: 0
    color: var(--Font-color)
    font-family: var(--Font-family)
    margin: auto
    position: absolute
    left: 0
    right: 0
    top: 0

    .container
        top: 45px
        position: absolute
        left: 0
        right: 0;
        bottom: 0
        margin: auto
        scrollable()
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
