.window
    background-color: var(--Window-bg)
    color: var(--Font-color)
    font-family: var(--Font-family)
    overlay(absolute)

    .container
        overlay(absolute)
        scrollable()
        top: 45px
