.navbar
    background-color: var(--Navbar-bg)
    box-shadow: var(--Navbar-shadow)
    padding: 0 40px 0 40px
    opacity: 1
    position: absolute
    left: 0
    right: 0
    top: 0
    user-select: none
    width: auto
    z-index: 10
    height: 45px;

    & *
        vertical-align: middle
