.button
    top: 45px
    right: 20px
    position: fixed
    color: $CloseButton
    font-size: 25px
    line-height: 25px
    cursor pointer
    z-index 100
    transition all .5s
    font-smoothing: antialiased

    &:hover
        color $CloseButtonHover
        transition all .5s

.movie-detail, .shows-container-contain
    .close-icon
        top: 75px;
