:global
    ul
        list-style: none
    .hide
        display: none


    input
        &[type=text],
        &[type=number],
        &input[type=password]
            padding: 7px 10px
            border-radius 5px
            color #FFF
            outline 0
            border 0
            font-size  0.95em
            font-weight normal
            line-height 0.70em
            width 140px
            background $InputBg
            -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.85)
            transition background .2s ease



    .navbar-s
        z-index: 10
        width: 100%
        padding: 0 40px
        opacity: 1
        background-color: $FilterBarBg
        position: absolute
        display: flex
        align-items: center
        justify-content: space-between
        box-shadow: $TopBarShadow
        -webkit-user-select: none
