:global
    *
        list-style: none
        text-decoration: none

    .error
        background: #e74c3c
        border-radius: 5px
        color: #151515
        font-family: monospace
        padding: 5px 10px

    .fade-enter
        opacity: 0.01
        &.fade-enter-active
            opacity: 1
            transition: opacity 300ms ease-in

    .fade-leave
        opacity: 1
        &.fade-leave-active
            opacity: 0.01
            transition: opacity 300ms ease-out

    input
        &[type=text],
        &[type=number],
        &[type=password]
            background: var(--Input-bg)
            border: 0
            border-radius: var(--Input-radius)
            box-shadow: var(--Input-shadow)
            color: #FFF
            font-size:  0.95em
            font-weight: normal
            line-height: 0.70em
            outline: 0
            padding: 7px 10px
            transition: background .2s ease
            width: 140px
