:global
    *
        list-style: none
        text-decoration: none
    [disabled]
        opacity: var(--Disabled-alpha)
        pointer-events: none

    .error
        background: #e74c3c
        border-radius: 5px
        color: #151515
        font-family: monospace
        padding: 5px 10px

    .fade-enter
        opacity: 0.01
        &.fade-enter-active
            opacity: 1
            transition: opacity 300ms ease-in

    .fade-leave
        opacity: 1
        &.fade-leave-active
            opacity: 0.01
            transition: opacity 300ms ease-out
