.container
  height: 100%
  display: flex
  flex-direction: column

.header
  flex: 1
  display: flex

.header-image
  flex: 1

.header-info
  flex: 4

.info
  flex: 2
  display: flex

.seasons
  flex: 1
  background-color: red

.episodes
  flex: 4
  display: flex
  background-color: green

.episodesList
  flex: 1
  background-color: yellow

.right-container
  display: flex
  flex: 1
  flex-direction: column

.episode-info
  display: flex
  flex: 6
  background-color: blue

.play-now
  height: 100px
  flex: 1
  color: green

.shows-container-contain
    background-color $BgColor1
    height 100%
    width 100%
    position fixed
    padding-top: 40px

.tv-poster
    position fixed
    width 100%
    height 100%
    top 0
    margin-top 65px
    z-index 3
    overflow hidden
    background #17181b

    .tv-cover
        position relative
        float left
        margin-left 32px
        margin-top 10px
        width 134px
        height 197px
        box-shadow 0px 0px 10px
        z-index 3
        background-size 134px 197px
        background-repeat no-repeat
        border-radius 4px
        opacity 0
        background-color $ShowBgColor1
        &.fadein
            transition: opacity .3s ease-in;
            opacity: 1

    .tv-poster-background
        position absolute
        width 100vw
        height 100vh
        z-index 1
        background-repeat no-repeat
        background-position-x 50%
        background-position-y -33px
        opacity 0
        background-size cover
        &.fadein
            transition: opacity .3s ease-in;
            opacity: 1

        .tv-poster-overlay
            position absolute
            width 100%
            height 100%
            opacity 0.65
            background-color #000
            z-index 2

.tv-meta-data
    height 100%
    width 100%
    position absolute
    padding 25px

    .tv-dot
        position relative
        z-index 3
        margin 39.5px 15px 0 15px
        float left
        width 3px
        height 3px
        border-radius 2px
        background-clip padding-box
        background-color #dbdbdd
        cursor default

    .tv-title
        top 21px
        position relative
        z-index 3
        color #fff
        width 452px
        font-family $Font
        -webkit-font-smoothing antialiased
        font-size 22px

    .tv-year
        margin-top 35px
        position relative
        float left
        color #fff
        width auto
        height auto
        font-family $MainFontBold
        -webkit-font-smoothing antialiased
        font-size 11px
        cursor default
        z-index 3

    .tv-runtime
        margin-top 35px
        z-index 3
        position relative
        float left
        color #fff
        font-family $MainFontBold
        -webkit-font-smoothing antialiased
        font-size 11px
        cursor default

    .tv-status
        margin-top 35px
        z-index 3
        position relative
        float left
        color #fff
        font-family $MainFontBold
        -webkit-font-smoothing antialiased
        font-size 11px
        cursor default

    .tv-genre
        margin-top 35px
        position relative
        z-index 3
        float left
        color #fff
        font-family: $MainFontBold
        -webkit-font-smoothing antialiased
        font-size 11px
        cursor default

    .show-imdb-link
        z-index 3
        margin-top: 33px
        width: 27px
        float: left
        height: 16px
        position: relative
        cursor: pointer
        background: url(../images/imdb.png) no-repeat

    .rating-container-tv
        .hidden
            display: none

        .number-container-tv
            width: auto
            float: left
            position: relative
            font-size: 12px
            font-family: $MainFontBold
            color: #FFF
            cursor: pointer
            margin-top 30px
            top: 5px
            z-index 3

            em
                font-size: 0.8em

        .star-container-tv
            z-index 3
            position relative
            top 1px
            opacity 1
            float left
            margin-top 30px
            cursor: pointer

            .rating-star
                color #ffc900
                font-size 11px
                padding-right: 3px

            .rating-star-half
                color #ffc900
                font-size 11px
                margin-left -4px
                padding-right: 3px

            .rating-star-half-empty
                color #a3a5a7
                font-size 11px
                margin-left: -3px

            .rating-star-empty
                color #a3a5a7
                font-size 11px
                padding-right: 3px

            .rating-star-half-container
                width 1em
                height 1em
                line-height 1em
                margin-top 2px
                margin-right: -3px

    .tv-overview
        margin-top 60px
        z-index 3
        position relative
        color #fff
        text-align justify
        font-family $MainFont
        -webkit-font-smoothing: antialiased
        font-size 12px
        line-height 22px
        max-width 78%
        max-height 88px
        padding-right 15px
        overflow hidden
        scrollable()

    .show-watched-toggle
        cursor: pointer
        padding-left: 24px
        right: 45px
        text-align: right
        z-index: 3
        color: #FFF
        height: 18px
        top: 194px
        position: absolute
        font-family: $MainFont
        font-smoothing: antialiased
        font-size: 12px
        line-height: 17px
        display: none

        &:before
            content: "\f070"
            font-family: FontAwesome
            position: absolute
            font-size: 18px
            color: #FFF
            left: 0
            opacity: 1
            transition: opacity 0.5s

        &:after 
            content: "\f00c"
            font-family: FontAwesome
            position: absolute
            font-size: 20px
            color: #299000
            left: 0
            opacity: 0
            transition: opacity 0.5s

        &:hover, &.selected
            &:before
                opacity: 0
            &:after
                opacity: 1

    .favourites-toggle 
        cursor: pointer
        padding-left: 24px
        z-index: 3
        color: #FFF
        height: 18px
        top: 194px
        position: absolute
        font-family: $MainFont
        font-smoothing: antialiased
        font-size: 12px
        line-height: 17px
        &:before 
            content: "\f004"
            font-family: FontAwesome
            position: absolute
            font-size: 18px
            color: #FFF
            top: 0
            left: 0
            bottom: 0
            right: 0
            opacity: 1
            transition: opacity 0.5s
        
        &:after 
            content: "\f004"
            font-family: FontAwesome
            position: absolute
            font-size: 18px
            color: $ButtonBgActive
            top: 0
            left: 0
            bottom: 0
            right: 0
            opacity: 0
            transition: opacity 0.5s
        
        &:hover 
            &:before 
                opacity: 0
            
            &:after 
                opacity: 1
        
        &.selected 
            height: 18px
            width: 200px
            &:before 
                content: "\f004"
                font-family: FontAwesome
                position: absolute
                font-size: 18px
                color: $FavoriteColor
                top: 0
                left: 0
                bottom: 0
                right: 0
                opacity: 1
                transition: opacity 0.5s
            
            &:after 
                content: "\f004"
                font-family: FontAwesome
                position: absolute
                font-size: 18px
                color: #FFF
                top: 0
                left: 0
                bottom: 0
                right: 0
                opacity: 0
                transition: opacity 0.5s
            
            &:hover 
                &:before 
                    opacity: 0
                
                &:after 
                    opacity: 1

