    .show-header
        width: 100vw
        /*height: 25vh TODO: responsive header (especially poster)*/
        min-height: 215px
        background: $BgColor1

        .sh-background
            position: absolute
            width: 100%
            
            .shc-img
                position: absolute
                min-height: 215px
                width: 100vw
                background-repeat: no-repeat
                background-size: cover
                background-position: center
                -webkit-filter: blur(10px) brightness(0.7)
                background-color $ShowBgColor1
                opacity: 0

        .sh-info
            position: absolute
            min-height: 215px
            left: 198px
            display: flex
            flex-direction: column
            justify-content: space-between

        .sh-poster
            float: left
            width: 198px
            height: 100%

            .shp-img
                position relative
                margin-left 32px
                margin-top 10px
                width 134px
                height 197px
                box-shadow 0px 0px 10px
                background-size auto
                background-position center
                background-repeat no-repeat
                border-radius 4px
                opacity 0
                background-color $ShowBgColor1
                &.fadein
                    transition: opacity .3s ease-in;
                    opacity: 1
        .sh-metadata
            flex: 2
            padding-top: 10px
            padding-right: 45px

            .shm-title
                color #fff
                font-family $Font
                -webkit-font-smoothing antialiased
                font-size 28px
                margin-bottom 8px
                margin-top: 5px

            .shm-infos
                div
                    float: left
                    font-size: 11px
                    font-family: $MainFontBold
                    color: #fff
                    -webkit-font-smoothing: antialiased

                div.shmi-imdb
                    cursor: pointer
                    background: url(../images/imdb.png) no-repeat
                    width: 27px
                    height: 16px
                    position: relative
                    top: -2px

                div.shmi-rating
                    cursor: pointer

                    .hidden
                        display: none

                    .number-container-tv
                        position: relative
                        font-size: 12px
                        font-family: $MainFontBold
                        color: #FFF

                        em
                            font-size: 0.8em

                    .star-container-tv
                        position relative
                        opacity 1

                        .rating-star
                            color #ffc900
                            font-size 11px
                            padding-right: 3px

                        .rating-star-half
                            color #ffc900
                            font-size 11px
                            margin-left -4px
                            padding-right: 3px

                        .rating-star-half-empty
                            color #a3a5a7
                            font-size 11px
                            margin-left: -3px

                        .rating-star-empty
                            color #a3a5a7
                            font-size 11px
                            padding-right: 3px

                        .rating-star-half-container
                            width 1em
                            height 1em
                            line-height 1em
                            margin-top 2px
                            margin-right: -3px

                span.dot
                    margin 4.5px 15px 0 15px
                    float left
                    width 3px
                    height 3px
                    border-radius 2px
                    background-clip padding-box
                    background-color #dbdbdd
                    cursor default

            .shm-synopsis
                color: #fff
                float: left
                width: 100%
                text-align: justify
                font-family: $MainFont
                -webkit-font-smoothing: antialiased
                font-size: 12px
                line-height: 22px
                max-height: 107px
                padding-right: 8px
                margin-top: 8px
                overflow: hidden
                scrollable()

        .sh-actions
            flex: 1
            height: 20px

            .sha-bookmark
                float: left
                cursor: pointer
                padding-left: 24px
                color: #FFF
                position: relative
                font-family: $MainFont
                font-smoothing: antialiased
                font-size: 12px
                line-height: 17px
                &:before
                    content: "\f004"
                    font-family: FontAwesome
                    position: absolute
                    font-size: 18px
                    color: #FFF
                    top: 0
                    left: 0
                    bottom: 0
                    right: 0
                    opacity: 1
                    transition: opacity 0.5s

                &:after
                    content: "\f004"
                    font-family: FontAwesome
                    position: absolute
                    font-size: 18px
                    color: $ButtonBgActive
                    top: 0
                    left: 0
                    bottom: 0
                    right: 0
                    opacity: 0
                    transition: opacity 0.5s

                &:hover
                    &:before
                        opacity: 0

                    &:after
                        opacity: 1

                &.selected
                    height: 18px
                    width: 200px
                    &:before
                        content: "\f004"
                        font-family: FontAwesome
                        position: absolute
                        font-size: 18px
                        color: $FavoriteColor
                        top: 0
                        left: 0
                        bottom: 0
                        right: 0
                        opacity: 1
                        transition: opacity 0.5s

                    &:after
                        content: "\f004"
                        font-family: FontAwesome
                        position: absolute
                        font-size: 18px
                        color: #FFF
                        top: 0
                        left: 0
                        bottom: 0
                        right: 0
                        opacity: 0
                        transition: opacity 0.5s

                    &:hover
                        &:before
                            opacity: 0

                        &:after
                            opacity: 1

            .sha-watched
                float: right
                cursor: pointer
                padding-left: 24px
                right: 45px
                color: #FFF
                position: absolute
                font-family: $MainFont
                font-smoothing: antialiased
                font-size: 12px
                line-height: 17px
                display: none

                &:before
                    content: "\f070"
                    font-family: FontAwesome
                    position: absolute
                    font-size: 18px
                    color: #FFF
                    left: 0
                    opacity: 1
                    transition: opacity 0.5s

                &:after
                    content: "\f00c"
                    font-family: FontAwesome
                    position: absolute
                    font-size: 20px
                    color: #299000
                    left: 0
                    opacity: 0
                    transition: opacity 0.5s

                &:hover, &.selected
                    &:before
                        opacity: 0
                    &:after
                        opacity: 1

