.settings
    background-color: var(--Window-bg)
    color: var(--Font-color)
    font-family: var(--Font-family)
    overlay(absolute)
    scrollable()
    font-faimily: (--Font-family)


    &::-webkit-scrollbar-track
        margin-top: var(--Tabs-height) 

    &.show-advanced
        .settings-row
            &.advanced
                height: auto !important
                opacity: 1 !important
                overflow: visible !important
                padding: 35px 20px !important
                transform: scale(1) !important

@import './global.styl'
