@import './global.styl'

.settings
    background-color: var(--Bg-color, #17181b)
    font-family: 'Arial', 'Helvetica', sans-serif
    margin: 0
    position absolute
    top: 33px
    bottom: 0
    user-select: none
    width: 100%
    z-index: 1

    &.show-advanced
        .settings-row
            &.advanced
                height: auto !important
                opacity: 1 !important
                overflow: visible !important
                padding: 35px 20px !important
                transform: scale(1) !important
